page-status {
    ion-row {
        align-items: center;
        text-align: center;
      }
  
      ion-item {
          border-radius: 10px !important;
          padding-left: 30px !important;
          font-size: 0.9em;
          margin-bottom: 10px;
          border: 1px solid #ffffff;
          border-bottom: 0px !important;
          box-shadow: none !important;
      }
  
      .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
      }
  
      .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
      }
  
      .submit-btn {
        background:#d3a202;
        border-radius: 10px !important;
        font-weight: bold;
        font-size:18px;
        color:black
      }
  
      .register-btn {
        color: white;
        font-size: 14px;
        font-weight: bold
      }
      .item_class{
       background-color:white;
       margin-top: 15px;
      }
      .country {
        border-radius: 10px !important;
        padding-left: 10px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }
    .lds-ring {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 51px;
      height: 51px;
      margin: 6px;
      border: 6px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
}
