<ion-content class="login-content" padding style="background-color: black">
 
  
  <ion-row>
      <div style="display: inline-flex ; " *ngIf="lang==='fr'" (click)="toEnglish()">
        <span>
          <img alt="logo"   height="40" src="https://www.countryflags.io/gb/flat/64.png">
        </span>
        <span style="color:white;font-size: 18px; font-weight: bold; padding-top: 10px;margin-left:5px">English</span>
      </div>
      <div style="display: inline-flex ; width: 100%;" *ngIf="lang==='en'" (click)="toFrench()">
          <span>
              <img alt="logo"   height="40" src="https://www.countryflags.io/fr/flat/64.png">
          </span>
          <span style="color:white;font-size: 18px; font-weight: bold; padding-top: 10px;margin-left:5px">Français</span>
        </div>
      <div>
      </div>
    </ion-row>
   
  <ion-row class="logo-row">
    <ion-col>
      <img style="text-align: center; margin-top:90px" src="../../assets/logo.png" width="70%" />
    </ion-col>
  </ion-row>
  <div style="text-align: center;  position: relative" *ngIf="loading">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  <div *ngIf="!loading">``
    <form >
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item no-lines class="item_class">
                <ion-input text-center type="email" style="color:#d3a202; font-weight: bold;font-size: 1.6rem" [(ngModel)]="email"
                placeholder="{{ 'resetpasswort.email' | translate }}" name="email" required></ion-input>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" (tap)="reset()" type="submit" full>{{ 'resetpasswort.reset' | translate }}</button>
        </ion-col>
      </ion-row>
     
      <ion-row style="padding-top:40px">
        <ion-col>
          <button ion-button style="font-size:18px" class="register-btn" (tap)="connect()" block clear>
            <u>
              {{ 'resetpasswort.connect' | translate }}
            </u>
          </button>
        </ion-col>
      </ion-row>
    </form>
  </div>





</ion-content>