page-no-internet {
    ion-row {
        align-items: center;
        text-align: center;
      }
      .submit-btn {
        background:#d3a202;
        border-radius: 10px !important;
        font-weight: bold;
        font-size:18px;
        color:black
      }
      .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
      }
}
